'context-menu':
  '.overlayer': [
    {
      'label': 'Enable git-grep'
      'command': 'git-grep:grep'
    }
  ]

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'git-grep'
      'submenu': [
        { 'label': 'GitGrep', 'command': 'git-grep:grep' }
      ]
    ]
  }
]
